@import "../../styles/theme.scss";

.Main {
  display: flex;
  flex-direction: column;

  height: 136px;
  padding: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;

  background-color: var(--colorBackgroundContent);
}

.IconButton {
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Input {
  display: flex;
  justify-content: space-between;
  // align-items: center;
  // gap: 8px;
}

.InputField {
  display: flex;
  flex-direction: row;
  align-items: center;

  height: 32px;
  gap: 8px;
  margin-bottom: 6px;
  border-radius: 6px;

  box-shadow: 0 0 0 1px var(--colorSeparatorSecondary);

  .InputField-Icon_user,
  .InputField-IconContainer {
    position: absolute;
  }

  .InputField-Icon {
    margin-left: 8px;
    margin-right: 8px;

    fill: var(--colorIconMedium);
  }

  .InputField-IconContainer {
    transition: visibility 0s, opacity .2s linear;
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 64px;
    height: 32px;
    margin-left: 248px;
  }

  ._hide {
    visibility: hidden;
    opacity: 0;
  }

  .InputField-Input {
    width: 312px;
    height: 32px;

    padding-left: 32px;
    padding-right: 64px;
    border: 0;
    border-radius: 6px;

    background-color: var(--colorFieldBackground);

    outline: none;

    caret-color: var(--colorStrokeAccentThemed);
  }
}

.InputField-Icon_plus:hover {
  transition: all .2s;
  fill: var(--colorIconPositive);
}

.InputField-Icon_minus:hover {
  transition: all .2s;
  fill: var(--colorIconNegative);
}

.InputSubButton {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 32px;
  height: 32px;
  border-radius: 6px;
}

.InputSubButton_clearBanList {
  background-color: var(--colorBackgroundNegativeTint);
  box-shadow: 0 0 0 1px var(--colorStrokeNegative);

  .IconButton {
    fill: var(--colorIconNegative);
  }
}

.InputSubButton_info {
  background-color: var(--colorBackgroundAccentThemed);
  box-shadow: 0 0 0 1px var(--colorStrokeAccentThemed);

  .IconButton {
    fill: var(--colorIconContrastThemed);
  }
}

.BanList {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;

  width: 100%;
  height: 100%;
  overflow: aut;

  .BanList_empty {
    display: inline-flex;
    width: 100%;
    overflow: hidden;

    color: var(--colorTextSecondary);
    justify-content: center;
    align-items: center;

    font-size: 16px;
  }
}

.UserID {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 32px;

  padding: 6px 8px;
  border-radius: 6px;
  gap: 6px;

  background-color: var(--colorBackgroundAccentThemed);
  box-shadow: 0 0 0 1px var(--colorStrokeAccentThemed);

  .UserID-Text_id {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;

    color: var(--colorTextContrastThemed);
  }

  .UserID-Button_delete {
    fill: var(--colorIconContrastThemed);
  }
}

.Error {
  display: flex;
  align-items: center;
  justify-content: space-between;

  gap: 6px;
  height: 32px;
  padding: 8px;
  border-radius: 8px;

  box-shadow: 0 0 0 1px var(--colorStrokeNegative);
  background-color: var(--colorBackgroundNegativeTint);

  .Error-Text {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
  }

  .Error-Button {
  }

  .Error-Button_delete {
    fill: var(--colorIconNegative);
  }
}
