@import "./theme.scss";

* {
  box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;

  box-shadow: inset;
}

.IconButton {
  cursor: pointer;
}

a, *[role="link"] {
  color: var(--colorTextLink);
  text-decoration: none;

  cursor: pointer;

  :hover {
    color: var(--colorTextLinkThemed);
  }

  :visited {
    color: var(--colorTextLinkVisited);
  }
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--colorIconMedium) var(--colorBackgroundContent);
  transition: opacity 250ms linear;
}

*::-webkit-scrollbar {
  height: 12px;
  width: 12px;
}
*::-webkit-scrollbar-track {
  background: transparent;
}
*::-webkit-scrollbar-thumb {
  background-color: var(--colorIconMedium);
  border-radius: 8px;
  border: 3px solid var(--colorBackgroundContent);
}
