@import "../../styles/theme.scss";

.NavBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;

  border-radius: 8px 8px 0 0;

  background-color: var(--colorHeaderBackground);
  box-shadow: inset 0 -1px 0 var(--colorSeparatorPrimary);

  .Tab-slider {
    position: absolute;
    bottom: 0;

    width: 184px;
    height: 2px;
    box-shadow: inset 0 -2px 0 var(--colorStrokeAccent);
    transition: all .2s ease;
  }
}

.Tab {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 32px;
  gap: 4px;

  list-style-type: none;
  cursor: pointer;

  color: var(--colorTextTertiary);
  fill: var(--colorTextTertiary);

  .Tab-icon {
    width: 20px;
    height: 20px;
  }

  .Tab-title {
    font-size: 16px;
  }

  &[aria-pressed="true"] {
    color: var(--colorTextPrimary);
    fill: var(--colorIconPrimary);
  }

  &[aria-pressed="false"]:hover {
    color: var(--colorTextSecondary);
    fill: var(--colorIconSecondary);

    box-shadow: inset 0 -2px 0 var(--colorSeparatorPrimaryAlpha);
  }
}
