@import "../../styles/theme.scss";
@import "../../styles/theme.scss";

.Header {
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: space-between;

  height: 40px;

  padding: 8px;
  margin-bottom: 8px;

  background-color: var(--colorHeaderBackground);

  .Header-Name {
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 8px;

    .Header-Favicon {
      width: 24px;
      height: 24px;
      margin-left: 4px;
      fill: var(--colorIconAccent);
    }

    .Header-Tittle {
      font-size: 18px;
      line-height: 24px;

      font-family: "Roboto";
      font-weight: 400;

      color: var(--colorTextPrimary);
    }
  }

  .Header-Options {
    display: flex;
    flex-direction: row;
    gap: 22px;

    .Header-Icon {
      width: 22px;
      height: 22px;

      fill: var(--colorIconSecondary);

      :hover {
        fill: var(--colorIconMedium);
      }
    }
  }
}
